.Footer {
    background-color: rgba(239, 239, 239);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    font-family: 'Open Sans';
    font-weight: 'lighter';
    color: rgb(65, 65, 65);
    font-size: 0.7em;
}

@media (min-width: 650px) {
    .Footer {
        flex-direction: row;
        justify-content: space-around;
    }
}